build
*.pyc
*.egg-info
dist
venv
test
*.ipynb_checkpoints
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
pyvenv
pycheops/examples/Notebooks/HD97658_lmfit.eps
pycheops/examples/Notebooks/mastDownload/
docs/_build
pycheops/examples/Notebooks/CH_*.tgz
