$catalogue                                                      ($author, $date)
================================================================================
$title
    $authors
    $bibcode
================================================================================
Keywords: $keywords
ADC_Keywords: Photometry
Mission_Name: CHEOPS

Abstract:
  $abstract

Description:
$description

Objects:
    -----------------------------------------
       RA   (2000)   DE    Designation(s)
    -----------------------------------------
    $object
    -----------------------------------------

File Summary:
--------------------------------------------------------------------------------
 FileName    Lrecl   Records    Explanations
--------------------------------------------------------------------------------
$tablesIndex

--------------------------------------------------------------------------------
$bytebybyte

Acknowledgements: $acknowledgements

================================================================================
(End)            TO_BE_CHECKED_BY_CDS                               $today
